# Build and intermediate folders
Binaries/
DerivedDataCache/
Intermediate/
Saved/

# IDEs
.vscode/
.vs/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Project files
# Keep .uproject tracked
# Escape.uproject

# Mac system files
.DS_Store
